.story {
  @media (min-width: $tablet) {
    padding-right: 20px;
  }

  &__image {
    img {
      max-width: 50px;
    }
  }

  &__profile {
    p {
      font-size: 10px;
      margin: 0;
    }
  }
}
