body {
  margin: 0;
  padding: 20px 0 0;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.stories {
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}
